:root {
  --color-dark: #1C2022;
  --color-light: #f4f5f5;
  --color-grey-light: #EAEAEA;
  --color-grey: #686868;
  --color-grey-dark: #3A3D42;
  --color-blue: #2F4FE4;
  --color-blue-light: #26A2E9;
}